.hezuo{ background:url("hezuo.png") top left no-repeat; }
.hezuo_r8_c20{ width:104px; height:103px; background-position:-10px -10px; }
.hezuo_r8_c8{ width:104px; height:103px; background-position:-10px -123px; }
.hezuo_r8_c10{ width:104px; height:103px; background-position:-10px -236px; }
.hezuo_r8_c12{ width:104px; height:103px; background-position:-10px -349px; }
.hezuo_r8_c18{ width:104px; height:103px; background-position:-10px -462px; }
.hezuo_r6_c20{ width:104px; height:103px; background-position:-10px -575px; }
.hezuo_r6_c8{ width:104px; height:103px; background-position:-10px -688px; }
.hezuo_r6_c10{ width:104px; height:103px; background-position:-10px -801px; }
.hezuo_r6_c12{ width:104px; height:103px; background-position:-10px -914px; }
.hezuo_r6_c18{ width:104px; height:103px; background-position:-10px -1027px; }
.hezuo_r8_c6{ width:104px; height:103px; background-position:-10px -1140px; }
.hezuo_r8_c4{ width:104px; height:103px; background-position:-10px -1253px; }
.hezuo_r6_c4{ width:104px; height:103px; background-position:-10px -1366px; }
.hezuo_r6_c6{ width:104px; height:103px; background-position:-10px -1479px; }
.hezuo_r8_c2{ width:104px; height:103px; background-position:-10px -1592px; }
.hezuo_r6_c2{ width:104px; height:103px; background-position:-10px -1705px; }
.hezuo_r2_c15{ width:16px; height:15px; background-position:-10px -1818px; }
.hezuo_r4_c13{ width:13px; height:13px; background-position:-36px -1818px; }

